article.content {
    ul {
        margin: 25px auto;
    }

    li {
        font-family: $sans-serif;
        margin: 0 0 5px 15px;
    }
}

.about {
    display: none;
}

.about ~ footer {
    display: none;
}