script(src="./dist/scripts/app.js")
footer
    div(class="logo")
        a(class="icon icon-logo" href="/")
        p &copy; 2014, CROSSFIT
        ul
            li(class="icon icon-twitter")
            li(class="icon icon-facebook")
            li(class="icon icon-instagram")
            li(class="icon icon-google")