nav(class="menu" id="menu")
    div(class="menu-options")
        h2 MENU
        p(id="menu-close" class="icon icon-cross")
    ul
        li <a href="/"> Home
        li <a href="/about"> About Us
        li <a href="/register"> Get Started
    ul(class="subtle")
        li <a href="#">Crossfit Journal</a>
        li <a href="#">Exercise and Demoes</a>
        li <a href="#">Publications</a>
        li <a href="#">Store</a>
        li <a href="#">Contact Us</a>
    div(class="social")
        ul
            li
                a(href="#" class="icon icon-twitter")
            li 
                a(href="#" class="icon icon-facebook")
            li
                a(href="#" class="icon icon-instagram")
            li
                a(href="#" class="icon icon-google")
