include ./partials/header.jade
div(class="container")
    include ./partials/nav.jade
    header
        div(class="logo")
            a(class="icon icon-logo" href="/")
            p About Us
        a(id="trigger-menu" class="icon icon-menu")
    article(class="about content")
        h1 What is CrossFit?
        p(class="date") Forging Elite Fitness
        h2 CrossFit begins with a belief in fitness. The aim of CrossFit is to forge a broad, general and inclusive fitness. We have sought to build a program that will best prepare trainees for any physical contingency — not only for the unknown, but for the unknowable.
        h3 CROSSFIT IS MANY THINGS
        p <span>Primarily, it’s a fitness regimen developed by Coach Greg Glassman over several decades.</span> He was the first person in history to define fitness in a meaningful, measurable way (increased work capacity across broad time and modal domains). 
        p CrossFit itself is defined as that which optimizes fitness (constantly varied functional movements performed at relatively high intensity). CrossFit is also the community that spontaneously arises when people do these workouts together. In fact, the communal aspect of CrossFit is a key component of why it’s so effective.
        h1 Education
        p <span>CrossFit is not easy and it’s not simple. </span> To be fit and physically competent to handle all of the challenges in life is no small endeavor. As you work to become a fitter and healthier person, you will need to learn about:
        ul
            li <a class="read-more" href="#">Movement</a> - How to move safely and effectively
            li <a class="read-more" href="#">Fitness</a> - What it means to be fit. Its definition, the supporting theories, and how to go about attaining it in real life.
            li <a class="read-more" href="#">Nutrition</a> - Eat meat &amp; vegetables, nuts &amp; seeds, some fruit, little starch, and no sugar. Keep intake to levels that will support exercise, but not body fat.
        h2 Education is a big part of CrossFit. When you start, you are not expected to have the knowledge you need.
        p <span>CrossFit is an education about movement, fitness, nutrition and community. </span> All of these things require responsibility, common sense, and work to educate oneself using all the tools available in the community.
        p Get started by reading <a class="read-more" href="#">recommended introductory content</a>.
        h1 Training Seminars
        p(class="date") In addition to websites and gyms, CrossFit offers training seminars.
        p <a class="read-more" href="#">The CrossFit Level 1 Trainer Course</a> is an ANSI accredited Certificate Course. The Level 1 introduces students to CrossFit's methodology and foundational movements. Level 1 courses are offered at CrossFit Affiliates around the world, and are a required first step for those that want to be CrossFit trainers. 
        p To earn the designation of "CrossFit Level 1 Trainer," individuals must attend the course and pass the test. <a class="read-more" href="#">Find a qualified CrossFit Trainer near you</a>.
        h3 CrossFit also offers many specialty seminars, including:
        ul
            li <a class="read-more" href="#">- Kids</a>
            li <a class="read-more" href="#">- Defence</a>
            li <a class="read-more" href="#">- Endurance</a>
            li <a class="read-more" href="#">- Football</a>
            li <a class="read-more" href="#">- Goal Setting</a>
            li <a class="read-more" href="#">- Gymnastics</a>
            li <a class="read-more" href="#">- Kettlebell</a>
            li <a class="read-more" href="#">- Mobility</a>
            li <a class="read-more" href="#">- Olympic Lifting</a>
            li <a class="read-more" href="#">- Powerlifting</a>
            li <a class="read-more" href="#">- Rowing</a>
            li <a class="read-more" href="#">- Striking</a>
            li <a class="read-more" href="#">- Strongman</a>
        h1 CrossFit Theory
        p <span>CrossFit is an evidence-based fitness program. </span>Meaningful statements about safety, efficacy and efficiency — the three most important and interdependent facets of any fitness program — can be supported only by measurable, observable, and repeatable facts, (i.e., data). 
        p The CrossFit methodology depends on full disclosure of methods, results and criticisms, and we’ve employed the Internet as our primary means to support these values. Our charter is open source, making co-developers out of participating coaches, athletes and trainers through a spontaneous and collaborative online community. CrossFit is empirically driven, clinically tested and community developed.
    include ./partials/footer.jade